.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

body {
    background: #f1e197;
}

body, select, input, button {
    font: 14px/21px 'Open Sans', 'Lucida Grande', Tahoma, sans-serif;
    color: #333;
}

a {
    color: inherit;
    text-decoration: none;
}

input[type=submit], input[type=button], button {
    background: #ccc;
    border: 1px #bbb solid;
    border-radius: 5px;
    color: #555;
    box-shadow: inset 0 5px 0 rgba(255, 255, 255, 0.4);
    padding-top: 5px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    line-height: 35px;
    font-weight: bold;
}

input[type=submit]:hover, input[type=button]:hover, button:hover {
    color: #3b5998;
}

input[type=submit]:disabled, input[type=button]:disabled, button:disabled {
    color: #aaa;
}

h1 {
    line-height: 49px;
    margin: 0;
}

h2 {
    line-height: 42px;
    margin: 0;
}

p {
    margin: 0 0 21px 0;
}

p:last-child {
    margin: 0;
}

button a {
    text-decoration: none;
    color: inherit;
}

#wrapper {
    width: 720px;
    margin: 50px auto;
    position: relative;
    border-radius: 10px 10px 0 0;
}

#header {
    background: #3b5998;
    color: white;
    border-radius: 10px 10px 0 0;
    padding: 10px 20px 5px 20px;
    box-shadow: inset 0 5px 0 rgba(255, 255, 255, 0.4);
    text-shadow: 0 -2px 0 black;
}

#header .logout {
    position: absolute;
    right: 20px;
    top: 10px;
    line-height: 49px;
}

#about {
    background: white;
    padding: 20px 25% 20px 20px;
}

#friendlist {
    background: #ccc;
    box-shadow: inset 0 5px 0 rgba(255, 255, 255, 0.4);
    padding: 20px 20px 10px 20px;
}

#lists {
    background: white;
    position: relative;
}

#lists > .list {
    width: 260px;
    padding: 10px 20px 20px 20px;
    float: left;
}

#lists > .list:first-child {
    margin-right: 59px;
}

#lists > .list:last-child {
    margin-left: 59px;
}


#lists .list select {
    outline: 0;
    border: 1px solid #ddd;
    background: white;
    width: 100%;
    height: 400px;
}

#lists .actions {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 118px;
    left: 300px;
    border: #ddd solid;
    border-width: 0 1px;
}

#lists .actions button {
    display: block;
    position: absolute;
    left: 10%;
    width: 80%;
    font-size: 70px;
    line-height: 42px;
}

#lists .actions .unlist {
    top: 2%;
    bottom: 51%;
}

#lists .actions .list {
    top: 51%;
    bottom: 2%;
}

#footer {
    background: #3b5998;
    padding: 20px 20px 10px 20px;
    box-shadow: inset 0 5px 0 rgba(255, 255, 255, 0.4);
    text-shadow: 0 -2px 0 black;
    color: white;
}

#footer .discard {
    margin-left: 10px;
}